<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

<!-- event binding -->
<button class="btn btn-warning m-4" (click)='onClick()'>Go to Home</button>

<div class="container border shadow">

    <h5 class="text-center mt-3">
        {{loginMode? 'LogIn' : 'SignUp'}} into Insurance App</h5>
    <!--for login-->

    <div class="row p-3">
        <!--for error message-->
        <div *ngIf="error" class="alert alert-danger" role="alert">
            <strong>An Error Occured : </strong> {{error}}
        </div>

        <div class="col-md-5">

            <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                <div class="form-group input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">

                    <small *ngIf="!Form.get('email')?.valid && Form.get('email')?.touched"
                        class="form-text w-100 text-danger">
                        Please Enter Email</small>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">

                    <small class="form-text w-100 text-danger"
                        *ngIf="!Form.get('password')?.valid && Form.get('password')?.touched">
                        Please Enter Password</small>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn col-12 btn-outline-primary">
                        {{loginMode? 'LogIn' : 'Create Account'}}
                    </button>
                </div>
                <p class="mt-1 mb-0">
                    {{loginMode? 'Don`t have account?' : 'Already have account?'}}
                    <a style="color: #0d6efd; cursor: pointer;" (click)="onModeSwitch()">
                        {{loginMode? 'Create one' : 'LogIn'}}</a>
                </p>
                <a style="color: #0d6efd; cursor: pointer;">Forgot Password?</a>
            </form>

        </div>
    </div>
</div>