<!-- <app-care></app-care> data of care component --> 

<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/policy">Policy</a></li>
</ul>

<ul>
    <!-- lazy loading -->
<li><a routerLink="/lazy-loading">Lazy Loading</a></li>

<!-- for forms -->
<li><a routerLink="/template-form">Template-Driven Form</a></li>
<li><a routerLink="/reactive-form">Reactive Form</a></li>
<li><a routerLink="/dep-inject">Dependency Injection</a></li>

</ul>

<!-- to show data of each component when clicked -->
<router-outlet></router-outlet> 